link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/fullcalendar/fullcalendar.css')
#calendar

script(type='text/javascript', src='/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
| <!--[if lt IE 9]>
|    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
|    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
| <![endif]-->
script(type='text/javascript', src='/jqueryui/ui/jquery-ui.js')
script(type='text/javascript', src='/jqueryui/ui/jquery.ui.draggable.js')
script(type='text/javascript', src='/fullcalendar/fullcalendar.js')
script.
    $(function(){
        var events = !{JSON.stringify(events)};
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: events
        });
    });