.menu
    h2 Select a space
    nav
        ul
            if spaces
                - each space in spaces
                    li
                        a(href='/spaces/#{space.id}' title='#{space.name}')= space.name
