extends layout
block content
    h2 Personal Calendar
    p Because Assembla does not yet provide the ability to export a calendar based on tickets (tickets do not have an offical `due date` either), only for milestones, we've created one for you.
    p For this process to work, you <strong>must</strong> create a custom field called 'Due Date' of type Date for your tickets. If the process does not find that custom field, it will skip over the tickets.
    p To access your personalized ticket calendar in iCal format (can import into google too), use the following link:
    p
        strong
            a(href='http://mana.io/calendar/' + api_key + '/' + api_secret, title='Personal Calendar') http://mana.io/calendar/#{api_key}/#{api_secret}
    p Or you can iframe in your personalized calendar by using the following:
    p
        pre= '<iframe src="http://mana.io/calendar/view/' + api_key + '/' + api_secret + '", width="100%", height="900px" />'

    iframe#calendar(src='http://mana.io/calendar/view/' + api_key + '/' + api_secret, width="100%", height="900px")
