extends layout
block content
    h2.text-center Task #{ticket.number}
        span.label.label-default= ticket.summary
    small Due: not implemented yet
    p!= ticket.description.replace(/\n/gmi, '<br />')
    button.btn.btn-lg.btn-success.btn-block(type='submit', data-toggle='modal', data-target='#time-modal') Start Timer

