extends layout
block content
    h2.text-center Task #{ticket.number}
        span.label.label-default= ticket.summary
    small Due: not implemented yet
    p!= ticket.description.replace(/\n/gmi, '<br />')
    button#timer.btn.btn-lg.btn-success.btn-block(type='button') Start Timer
    #duration-container.alert.alert-info.fade.text-center
        span Duration:
        span#duration -- pending --



    #time-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Save Time Entry
                .modal-body
                    form#time-entry(action='', method='post', role='form')
                        .form-group
                            label.control-label Hours:
                            input.form-control#hours(name="hours", type="number")
                        .form-group
                            label.control-label Description of Work:
                            textarea#description.form-control(name="description", rows="5")

                        input.hide#start_date(name="start_date")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                    button#submit.btn.btn-primary(type='button') Submit

block js
    script(type='text/javascript', src='/moment/min/moment.min.js')
    script.
        $(function(){
            var _recording = false;
            var _startDate = null;
            var _endDate = null;

            var _container = $('#duration-container');
            var _duration = $('#duration');
            var _handle = null;

            $('#time-modal').on('show.bs.modal', function(){
                $('#description').val('');
            }).on('shown.bs.modal', function(){
                $('#description').focus();
            });

            $('#submit').click(function(){
               $('#time-entry').submit();
           });

            $('#timer').click(function(){
                if(!_recording){
                    // start recording
                    $(this).html('Stop Timer').removeClass('btn-success').addClass('btn-danger');

                    _startDate = moment();
                    _endDate = null;

                    _container.addClass('in');

                    _handle = setInterval(function(){
                        var _diff = moment() - _startDate;

                        _duration.html(moment.duration(_diff).humanize(false));

                    }, 1000);
                }else{
                    // stop recording | show modal
                    $(this).html('Start Timer').removeClass('btn-danger').addClass('btn-success');
                    clearInterval(_handle);
                    _handle = null;
                    _container.removeClass('in');

                    var diff = moment.duration(moment() - _startDate);
                    var hours = diff.hours();
                    var minutes = diff.minutes();
                    var seconds = diff.seconds();

                    var totalHours = diff.asHours();
                    if(totalHours < 1){
                        if(totalHours < 0.5){
                            totalHours = 0.5;
                        }else{
                            totalHours = 1;
                        }
                    }

                    $('#start_date').val(_startDate);
                    $('#hours').val(totalHours);

                    $('#time-modal').modal({
                        show: true,
                        backdrop: false,
                        keyboard: true
                    });
                }

                _recording =!_recording;
            });
        });

